@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/light-blue-and-orange.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    justify-items: start;
}