@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/light-blue-and-orange.png');
    /* background-repeat: no-repeat; */
    /* justify-items: start; */
    width: 100%;
    
}

@media screen and (min-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
}